{% extends 'sitio/base.html' %}

{% block content %}
    {% include 'sitio/admin_head.html' %}

    <form class="default-form edit-profile"  action="/admin/edit_profile/{{ user_edit.key }}/" enctype="multipart/form-data" method="post">
        <label>Avatar</label><br />
        <label class="img-container"><img id="img-current-avatar" class="avatar" src="/user_img/{{ user_edit.key }}/"></img></label>
        <span class="default">El tama&ntilde;o de la imagen debe ser menor a 1mb</span> 
        <p class="alt"><span id="avatar" class="input-file"><input name="img" type="file" /></span></p>
        {% if user_edit.avatar %}
            <p id="delete-current-avatar" class="delete-current"><a href="#deletecurrentavatar" onclick="javascript: doDeleteCurrentAvatar('{{ user_edit.key }}')">Borrar actual</a></p>
        {% endif %}
        <hr class="clear" /><hr />
        <label>Imagen de fondo</label><br />
        <label class="img-container"><img height="50" width="50" id="img-current-bg" class="avatar" width="49" src="/user_img/{{ user_edit.key }}/background/"></img></label>
        <span class="default">El tama&ntilde;o de la imagen debe ser menor a 1mb</span> 
        <p class="alt"><span class="input-file"><input name="imgbg" type="file" /></span></p>
        {% if user_edit.background %}
            <p id="delete-current-bg" class="delete-current"><a onclick="javascript: doDeleteCurrentBg('{{ user_edit.key }}')" href="#deletecurrentbg">Borrar actual</a></p>
        {% endif %}
        <hr class="clear" /><hr />
        <label>E-mail</label>
        <input name="email" disabled="disabled" class="text-input" value="{{ user_edit.email }}"/>
        <label>Nombre de usuario</label>
        <input name="nickname" disabled="disabled" class="text-input" value="{{ user_edit.nickname }}"/>
        <label>Nombre real</label>
        <input name="name" class="text-input" value="{{ user_edit.name }}"/>
        <hr class="clear" />
        <label>Sitio web</label>
        <input name="url" class="text-input" value="{{ user_edit.url }}"/>
        <hr class="clear" />
        <label>Resumen sobre ti</label>
        <textarea name="bio" class="textarea">{{ user_edit.bio }}</textarea>
        <hr class="clear" />
        <label>Ubicaci&oacute;n</label>
        <input name="location" class="text-input" value="{{ user_edit.location }}"/>
        <hr class="clear" />
        <label>Recibir alertas en mi e-mail si:</label>
		<br />
        <table>
            <tr>
                <td><input name="comments_alerts" type="checkbox" {% if user_edit.comments_alerts %}checked{% endif %}/></td>
                <td><label class="secondaryLabel">Alguien comenta en mis {% if internal_mode %}temas{% else %}historias{% endif %}</label></td>
            </tr>
            <hr class="clear" />
            <tr>
                <td><input name="replies_alerts" type="checkbox" {% if user_edit.replies_alerts %}checked{% endif %}/></td>
                <td style="padding: 10px 0 0"><label  class="secondaryLabel">Alguien responde a mis comentarios</label></td>
            </tr>
        </table>
        <hr />
        <span class="button"><input type="submit" value="Guardar perfil" /></span>
    </form>
{% endblock %}               
