<div class="content-header">
    <a class="link-home" href="/">Inicio</a>
</div>
<div class="content clearfix">
    <div class="sidebody alt">
        <h1>Administrador</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In id augue eros. Phasellus aliquet semper felis ut varius. Vestibulum quis faucibus mauris</p>
        <ul class="menu-tabs">
            <li class="style2"><a href="/admin/categories/">Categorias</a></li>
            <li class="style2"><a href="/admin/sites/">Sitios</a></li>
            <li class="style2"><a href="/admin/users/">Usuarios</a></li>
            <li class="style2"><a href="/admin/banned_stories/">{% if internal_mode %}temas baneados{% else %}historias baneadas{% endif %}</a></li>
        </ul>
