
{% extends 'sitio/base.html' %}

{% block content %}
    {% include 'sitio/admin_head.html' %}
    <form class="agregar-sitio formulario" action="/admin/edit_site/{{ site.key }}/" method="post">
        <h2>Agregar sitio</h2>
        <fieldset class="default-form">
            <input name="title" class="text-input" value="{{ site.title }}" onclick="this.select()" />
            <input name="domain" class="text-input" value="{{ site.domain }}" onclick="this.select()" />
        </fieldset>
        <div class="clear"><!-- --></div>
        <span class="button"><input type="submit" value="Guardar" /></span>
    </form>
{% endblock %}               
