{% extends 'sitio/base.html' %}

{% block extra_heads %}
    <link rel="alternate" type="application/rss+xml" title="Feed RSS de STQ" href="/feeds/users/{{ viewuser.nickname }}/" />
{% endblock %}

{% block content %}
    <div class="content-header">
        <a class="link-home" href="/">Inicio</a>
    </div>
    <div class="content clearfix">
        <div class="sidebody alt">
			{% if viewuser.banner %} 
				<a class="banner-profile" target="_blank" href="{{ viewuser.url }}/"><img alt="{{ viewuser.nickname }}" class="banner profile" src="/user_img/{{ viewuser.id }}/banner/"/></a>			
			{% else %}
				<div class="user-image">
					<a target="_blank" href="/user_img/{{ viewuser.id }}/avatar_big/"><img alt="{{ viewuser.nickname }}" class="avatar alt" src="/user_img/{{ viewuser.id }}/avatar_med/"/></a>
				</div>
			{% endif %}
            <div class="user-desc">
                {% ifnotequal viewuser.name '' %} 
                    <h1>{{  viewuser.name }}</h1>
                {% endifnotequal %}
                {% ifequal viewuser.name '' %} 
                    <h1>{{  viewuser.nickname }}</h1>
                {% endifequal %}
                {% if user %}
                    {% ifnotequal viewuser.id user.id %}
                        {% ifequal following 0 %}
                            <p class="link-follow">
                            <a class="link-follow" id="link-follow" href="#addfriend" onclick="javascript: doAddFriend('{{ viewuser.id }}','{{ user.id }}')">Seguir</a>
                            </p>
                            <hr class="clear"/><br />
                        {% else %}
                            <p class="link-follow">
                            <a class="link-follow" id="link-follow" href="#removefriend" onclick="javascript: doRemoveFriend('{{ viewuser.id }}','{{ user.id }}')">Dejar de seguir</a>
                            </p>
                            <hr class="clear"/><br />
                        {% endifequal %}
                    {% endifnotequal %}
                {% endif %}
                {% ifnotequal viewuser.bio '' %} 
                    <p>{{  viewuser.bio }}</p>
                {% endifnotequal %}
                <hr class="clear"/>
                {% ifnotequal viewuser.location '' %} 
                    <p>
                        <strong>Ubicaci&oacute;n:</strong><br />
                        <!-- <a target="_blank" href="http://maps.google.com/maps?q={{  viewuser.location }}">-->{{  viewuser.location }}<!--</a>-->
                    </p>
                {% endifnotequal %}
                {% ifnotequal viewuser.url '' %} 
                    <p>
                        <strong>Sitio web:</strong><br />
                        <a rel="nofollow" href="{{ viewuser.url }}/">{{ viewuser.url }}</a>
                    </p><br />
                {% endifnotequal %}
            </div>
            {% if stories %}
                <br />
                <div class="clear"><!-- --></div>
                <hr />
                <h2>{{ stories_count }} {% if internal_mode %}tema{% else %}historia{% endif %}(s) publicada(s)</h2>
                <br />
                {% for story in stories %}
                    <div class="content-list-item {% if not story.image %} no-image {% endif %} ">
                        <div class="content-list-content">
                            <h3><a href="{{ story.generate_path }}">{{ story.title }}</a></h3>
                            <p>{{ story.shortdesc }} ...</p>
                            <ul class="content-list-item-menu">
                                <li class="link-comment"><a href="{{ story.generate_path }}">{{ story.comments }} comentario(s)</a></li>
                            </ul>
                        </div>
                        <ul class="content-list-vote">
                            <li class="points"><strong id="pts-story-{{ story.id }}">{{ story.pop }}</strong></li>
                            <li>votos</li>
                            {% if user %}
                                <li class="vote"><a onclick="javascript: doVoteStory('{{ story.id }}', 'add')" href="#vote_story" class="button-vote">Votar</a></li>
                            {% else %}
                                <li class="vote"><a onclick="javascript: $('#link-login-header').trigger('click');" href="#vote_story" class="button-vote">Votar</a></li>
                            {% endif %}
                        </ul>
                        {% if story.image %}
                            <a href="{{ story.generate_path }}"><img class="content-list-image" src="/story_img/{{ story.id }}/" alt="{{ story.title }}" /></a>
                        {% endif %}
                        <div class="clear"><!-- --></div>
                    </div>
                {% endfor %}
            {% endif %}
            <div class="clear"><!-- --></div>

            {% with '' as popular %}
                {% include 'sitio/stories_paginator.html' %}
            {% endwith %}
{% endblock %}
